<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e8867">  <td>19/12/02 15:59:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC04_PurchaseOrder_OrderReq_Get_Request_events.setUp()[pri:0, instance:PurchaseOrderService_OR_TestScripts_EP.TC04_PurchaseOrder_OrderReq_Get_Request_events@6fffcba5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6738746</td>   <td></td> </tr>
<tr bgcolor="8e8867">  <td>19/12/02 15:59:03</td>   <td>1316</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC04_PurchaseOrder_OrderReq_Get_Request_events.setUpBeforeClass()[pri:0, instance:PurchaseOrderService_OR_TestScripts_EP.TC04_PurchaseOrder_OrderReq_Get_Request_events@6fffcba5]">&gt;&gt;setUpBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6738746</td>   <td></td> </tr>
<tr bgcolor="8e8867">  <td>19/12/02 15:59:03</td>   <td>1362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04_PurchaseOrder_OrderReq_Get_Request_events.test()[pri:0, instance:PurchaseOrderService_OR_TestScripts_EP.TC04_PurchaseOrder_OrderReq_Get_Request_events@6fffcba5]">test</td> 
  <td>main@6738746</td>   <td></td> </tr>
<tr bgcolor="8e8867">  <td>19/12/02 15:59:14</td>   <td>11671</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC04_PurchaseOrder_OrderReq_Get_Request_events.tearDownAfterClass()[pri:0, instance:PurchaseOrderService_OR_TestScripts_EP.TC04_PurchaseOrder_OrderReq_Get_Request_events@6fffcba5]">&lt;&lt;tearDownAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6738746</td>   <td></td> </tr>
<tr bgcolor="8e8867">  <td>19/12/02 15:59:14</td>   <td>11677</td> <td>&nbsp;</td><td title="&lt;&lt;TC04_PurchaseOrder_OrderReq_Get_Request_events.tearDown()[pri:0, instance:PurchaseOrderService_OR_TestScripts_EP.TC04_PurchaseOrder_OrderReq_Get_Request_events@6fffcba5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6738746</td>   <td></td> </tr>
</table>
