<h2>Methods that were not run</h2><table>
<tr><td>TestSuite_SitTest.US0001_CreateBooking_Validation.Search_Booked_Appointments</td></tr>
<tr><td>TestSuite_SitTest.US0001_CreateBooking_Validation.bookPOsingleAppointment</td></tr>
<tr><td>TestSuite_SitTest.US0001_CreateBooking_Validation.View_unbooked_Purchase_Orders</td></tr>
<tr><td>TestSuite_SitTest.US0001_CreateBooking_Validation.Set_booking_status</td></tr>
<tr><td>TestSuite_SitTest.US0001_CreateBooking_Validation.View_Order_Information</td></tr>
<tr><td>TestSuite_SitTest.US0001_CreateBooking_Validation.View_booking_status</td></tr>
</table>